#post-list {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 0 30px;
}

#post-list article {
  margin-top: 30px;
  background-color: #fff;
  border: 5px solid #ddd;
}

#post-list article header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

#post-list article header .user-info {
  display: flex;
  flex-direction: column;
}

#post-list article header .user-info span {
  font-size: 19px;
}

#post-list article header .user-info span.place {
  margin-top: 3px;
  font-size: 11px;
  color: #666;
}

#post-list article > img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

#post-list article footer {
  padding: 20px;
}

#post-list article footer .actions {
  margin-bottom: 10px;
}

#post-list article footer .actions button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#post-list article footer .actions img {
  height: 20px;
  margin-right: 10px;
}

#post-list article footer > p {
  margin-top: 20px;
  font-size: 13px;
  line-height: 18px;
}

#post-list article footer > p span {
  display: block;
  color: #7159c1;
}
#post-list article footer > p a {
  text-decoration: none;
  font-size: 2em;
}

#post-list article footer > p a:link {
  color: black;
}

#post-list article footer > p a:visited {
  color: #8a7cb8;
}

.txt_post {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5em;
  height: 4.0em; /* line-height 가 1.5em 이고 5라인을 자르기 때문에 height는 1.7em * 5 = 8.5em */
}
.profileImg{
  border: 3px solid gold;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -khtml-border-radius: 70px;
  -webkit-border-radius: 70px;
  width:40px;
  height: 40px;
}
